.item {
  list-style-type: none;
}

#delete {
  text-decoration: none;
  margin-left: 5px;
  font-size: 18px;
}

#my-title {
  color: green;
}

#input-item {
  width: 40%;
}

#item-list {
  color: blue;
}

#future-items {
  color: grey;
}
#todo-item {
  font-size: 22px;
}
#done-todo {
  font-size: 22px;
  text-decoration: line-through;
}