<!-- Controller: TodoCtrl  "ng-controller" -->
<div ng-controller="TodoCtrl">
  <div class="container">
    <br><br><br><br>
    <div class="row">
      <!-- Directive "todotitle": creates the "todotitle" element -->
      <div class="col-sm-offset-4 col-sm-8"><todotitle id="my-title"></todotitle></div>
    </div>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-8"><additem id="add-item"></additem></div>
    </div>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-8">
        <!-- Submit: calls "addTodo()" function inside controller - "ng-submit" -->
        <form ng-submit="addTodo()">
          <!-- Input: is tied to the "description" field in the "newTodo" model -->
          <input type="text" id="input-item" ng-model="newTodo.description" >
          <p></p>
          <input type="submit" value="Add Item" class="btn btn-primary btn-sm">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-8"><undonelist id="item-list"></undonelist></div>
    </div>
    <ul>

      <!-- Display: To Do items with a filter "done = false" (i.e. not done yet) -->
      <!-- Loop through todos using "ng-repeat" -->
      <div ng-repeat="todo in todos | filter: {done: false} | orderBy:'description'">
        <div class="row">
          <li class="col-sm-offset-4 col-sm-8 item">

            <!-- Action Listener: call checkbox() function on click - "ng-click" -->
            <!-- checkbox() function updates the database in the background -->
            <!-- Update model: set the boolean "done" property to true - "ng-model" -->
            <todocheckbox></todocheckbox>&nbsp;&nbsp;
            <!-- <input type="checkbox" ng-click="checkbox()" ng-model="todo.done" > -->
              <span id="todo-item">{{todo.description}}</span>
          </li>
        </div>
      </div>
    </ul>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-8"><donelist id="future-items"></donelist></div>
    </div>
    <ul>
      <div ng-repeat="todo in todos | filter: {done: true} | orderBy:'description'">
        <div class="row">
          <li class="col-sm-offset-4 col-sm-8 item">

            <!-- Action Listener: call checkbox() function on click - "ng-click"-->
            <!-- checkbox() function updates the database in the background -->
            <!-- Update model: set the boolean "done" property to false - "ng-model" -->
            <todocheckbox></todocheckbox>&nbsp;&nbsp;
              <span id="done-todo">{{todo.description}}</span><a id="delete" href="#" ng-click="delete_todo()"> Delete</a>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>