<div class="container">
  <div class="row">
    <!-- Directive "todotitle": creates the "todotitle" element -->
    <div class="col-sm-offset-3 col-sm-6"><todotitle></todotitle></div>
  </div>
</div>

<!-- Controller: TodoCtrl  "ng-controller" -->
<div ng-controller="TodoCtrl">

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6"><additem></additem></div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-3">

        <!-- Submit: calls "addTodo()" function inside controller - "ng-submit" -->
        <form ng-submit="addTodo()">
          <!-- Input: is tied to the "description" field in the "newTodo" model -->
          <input type="text" ng-model="newTodo.description">
          <input type="submit" value="Add Item" class="btn btn-primary btn-sm">
        </form>
      </div>
    </div>
  </div>
  <div class="container" >
    <div class="row">
      <div class="col-sm-offset-3 col-sm-3"><undonelist></undonelist></div>
    </div>
    <ul>

      <!-- Display: To Do items with a filter "done = false" (i.e. not done yet) -->
      <!-- Loop through todos using "ng-repeat" -->
      <div ng-repeat="todo in todos | filter: {done: false}">
        <div class="row">
          <li class="col-sm-offset-3 col-sm-6 item">

            <!-- Action Listener: call checkbox() function on click - "ng-click" -->
            <!-- checkbox() function updates the database in the background -->
            <!-- Update model: set the boolean "done" property to true - "ng-model" -->
            <input type="checkbox" ng-click="checkbox()" ng-model="todo.done" >
              {{todo.description}}
          </li>
        </div>
      </div>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-3"><donelist></donelist></div>
    </div>
    <ul>
      <div ng-repeat="todo in todos | filter: {done: true}">
        <div class="row">
          <li class="col-sm-offset-3 col-sm-6 item">

            <!-- Action Listener: call checkbox() function on click - "ng-click"-->
            <!-- checkbox() function updates the database in the background -->
            <!-- Update model: set the boolean "done" property to false - "ng-model" -->
            <input type="checkbox" ng-click="checkbox()" ng-model="todo.done" checked>
              {{todo.description}}
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>